// ========= Colors

// Primary
$Light_red: hsl(0, 100%, 67%);
$Orangey_yellow: hsl(39, 100%, 56%);
$Green_teal: hsl(166, 100%, 37%);
$Cobalt_blue: hsl(234, 85%, 45%);

// Primary-hsla
$Light_red_hsla: hsl(0, 100%, 67%, 0.1);
$Orangey_yellow_hsla: hsl(39, 100%, 56%, 0.1);
$Green_teal_hsla: hsl(166, 100%, 37%, 0.1);
$Cobalt_blue_hsla: hsl(234, 85%, 45%, 0.1);

// Gradients
$Light_slate_blue_bg: hsl(252, 100%, 67%);
$Light_royal_blue_bg: hsl(241, 81%, 54%);

$Violet_blue_circle: hsla(256, 72%, 46%, 1);
$Persian_blue_circle: hsla(241, 72%, 46%, 0);


// Neutral
$White: hsl(0, 0%, 100%);
$Pale_blue: hsl(221, 100%, 96%);
$Light_lavender: hsl(241, 100%, 89%);
$Dark_gray_blue: hsl(224, 30%, 27%);



// ========= Font
$font-medium-500: 'Hanken Grotesk Medium', sans-serif;
$font-bold-700: 'Hanken Grotesk Bold', sans-serif;
$font-extrabold-800: 'Hanken Grotesk ExtraBold', sans-serif;
